<h1>List of Counties</h1>
<table>
    <tr>
    <th>County name</th>
    <th></th>
    </tr>
    <% @counties.each do |county| %>
    <tr>
        <td> <%= county.name %></td>
        <td> <%= link_to 'Schools', county_path(county) %></td>
        <td> <%= link_to 'Edit Name', edit_county_path(county) %></td>
        <td><%= link_to 'Delete', county_path(county), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>
</table>