<h1>List of Counties</h1>
<table>
    <tr>
    <th>County name</th>
    <th></th>
    </tr>
    <% @counties.each do |county| %>
    <tr>
        <td> <%= county.name %></td>
        <td> <%= link_to 'Schools', county_path(county) %></td>
    </tr>
    <%end%>
</table>